%div{class: "homework-#{homework.id}"}
  %ul
    %li
      = link_to homework.body
    %p
      #{t(".text")}
      = author_homework(homework)
    = link_to t(".delete"), dashboard_course_homework_path(course, homework), method: :delete, data: { confirm: "Are you sure?" }
