.form-group

  = simple_form_for [:dashboard, course, lesson], html: {novalidate: true} do |f|
    %p
      To draft
      = f.check_box :draft
    = f.input :priority
    = f.input :title
    = f.input :description
    = f.input :conspectus
    = f.input :tell_homework
    = f.input :image
    = f.input :video
    = f.class

    = f.submit 'Save'
= debug(params)
