%h1 Edit order
= form_with url: update_order_dashboard_course_lessons_path(course), method: :put, local: true do
  - @lessons.each do |lesson|
    = fields_for "lessons[]", lesson do |f|
      %h3= lesson.title
      = f.label :priority
      %br/
      = f.number_field :priority
      %br/
      = f.check_box :draft
      = f.label :draft

  %p= submit_tag "Update order"
