= link_to t(".back"), courses_path
%h1 #{t(".text")}

- @course_users.each do |course_user|
  %p= "#{course_user.user.profile.name || "Unknown"} #{t(".jonet")} #{course_user.created_at.strftime("%B %d %Y")}"
