%div{class: "course-#{course.id}"}
  %table.table.table-sm.table-inverse
    %tbody
      %tr.table-active
        %th{:colspan => "3"}= course_type(course)
      %tr
        %th= course.name
        %th
          - if user_signed_in?
            - if !current_user.not_participate_in_course?(course) || !course.user_not_participant?(current_user)
              = link_to t(".participate"), dashboard_participated_courses_path(course_id: course.id), method: :post
            - else
              = link_to t(".unparticipate"), dashboard_participated_course_path(course), method: :delete
        %th= link_to t(".participants"), course_course_participants_path(course)
      %tr
        %td{:rowspan => "5"}= image_tag course.image.thumb.url
        %td #{t('.text5')}
        %td= hour_video_course(course)
      - if type_course(course) == "OnlineIntensife" || type_course(course) == "RecordedIntensife"
        %tr
          %td #{t('.text4')}
          %td= hour_practice_course(course)
        - if type_course(course) == "OnlineIntensife"
          %tr
            %td #{t('.text3')}
            %td= course_start_date(course)
          %tr
            %td #{t('.text2')}
            %td= course_end_date(course)
      %tr
        %td #{t('.text1')}
        %td
          - if current_user.not_participate_in_course?(course) && course.user_not_participant?(current_user)
            = link_to t('.open'), course_lessons_path(course)
          - else
            #{t('.closed')}

