%div{class: "course-#{course.id}"}
  %ul
    %li{class: "image"}
      = image_tag course.image.thumb.url
      = link_to course.name, course_lessons_path(course)
      = link_to "Participants", course_course_participants_path(course)

    - if user_signed_in?
      - if !current_user.not_participate_in_course?(course) || !course.user_not_participant?(current_user)
        = link_to "Participate", dashboard_participated_courses_path(course_id: course.id), method: :post
      - else
        = link_to "Unparticipate", dashboard_participated_course_path(course), method: :delete
