%table.table.table-sm.table-inverse
  %tbody
    %tr.table-active
      %th{:colspan => "3"}= course.type
    %tr
      %th= course.name
      %th
        - if can? :opportunity_participate_course, course
          = link_to t(".participate"), dashboard_participated_courses_path(course_id: course.id), method: :post
        - else
          - if current_user.present?
            = link_to t(".unparticipate"), dashboard_participated_course_path(course), method: :delete
      %th
        - if can? :read, course
          - if current_user.present?
            = link_to t(".participants"), course_course_participants_path(course)
    %tr
      %td{:rowspan => "5"}= image_tag course.image.thumb.url
      %td #{t('.video')}
      %td= course.number_hours_video
    %tr
      %td #{t('.status')}
      %td
        - if can? :learning_lessons_course, course
          = link_to t('.open'), course_lessons_path(course)
        - else
          #{t('.closed')}
