= link_to t(".back"), dashboard_courses_path, class: 'btn btn-success'
%h1 #{t(".text")}

- @courses.each do |course|
  %div{class: "course-#{course.id}"}
    = render "#{course.type.underscore}", course: course

%br/
%br/
= paginate @courses

