%body
  %header#head.secondary
%body
  .container
    %ol.breadcrumb
      %li
        = link_to 'Home', root_path
      %li.active All courses page
    .row
      %article.col-sm-10.maincontent
        %header.page-header
          %h1.page-title #{t(".text")}
        - @courses.each do |course|
          %div{class: "course-#{course.id}"}
            = render "#{course.type.underscore}", course: course
        = paginate @courses
      %aside.col-sm-2.sidebar.sidebar-right
        .widget
          %h4 Infomations:
          %ul.list-unstyled.list-spaces
            %li
            %li
            %li
            %li
