= link_to "Back", dashboard_courses_path

%h1"#{course.name}" course participants
%ul
- @course_users.each do |user_course|
  %li
    = user_course.user.profile.name
  - if user_course.pupil?
    %h4 Participant
    = link_to 'Deduct', pay_off_course_dashboard_course_course_user_path(course, user_course)
  -else
    %h4 Not a participant
    = link_to 'Enroll', enroll_for_course_dashboard_course_course_user_path(course, user_course)


