= link_to "Back", dashboard_courses_path

%h1"#{course.name}" course participants
%ul
- @course_users.each do |user_course|
  %li
    = user_course.user.profile.name
  - if user_course.ban?
    %h4 Participant
  -else
    %h4 Not a participant
  - if user_course[:ban] == false
    = link_to 'Enroll', dashboard_path(user_course)
  - else
    = link_to 'Deduct',  dashboard_path(user_course)
