!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Qna
    = render 'application/favicon'

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-inverse.menu
      %ul.nav.nav-tabs
        - if user_signed_in?
          %li.active{:role => "presentation"}
            %a{:href => "#"}= link_to "Edit profile", edit_dashboard_profiles_path
            %br/
          %li.active{:role => "presentation"}
            %a{:href => "#"}= link_to "Log out", sessions_path, method: :delete
            %br/
          %li{:role => "presentation"}
            %a{:href => "#"}= link_to "All courses", courses_path
        - else
          %li{:role => "presentation"}
            %a{:href => "#"}= link_to "Log in", login_path
            %br/
          %li{:role => "presentation"}
            %a{:href => "#"}= link_to "Sign up", signup_path

    #main-container.container-fluid
      .container
        .row
          .col-3.sidebar
            %h3 Сайдбар
          .col-9.content
            %p#notice= notice
            = yield
